.homepage {
  text-align: center; /* Center-align the content within the homepage */
  padding: 20px; /* Add padding to the homepage */
}

h2 {
  margin-bottom: 20px; /* Add margin to the bottom of h2 for spacing */
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px; /* Add rounded corners to the search bar */
  border: 1px solid #ccc; /* Add a border to the search bar */
  outline: none; /* Remove the default input outline */
  padding-left: 40px; /* Add left padding for the search icon */
  background-repeat: no-repeat;
  background-position: 10px center; /* Adjust the position of the search icon */
}

.row {
  margin-left: -5px; /* Adjust margin-left to handle Bootstrap grid gutters */
  margin-right: -5px; /* Adjust margin-right to handle Bootstrap grid gutters */
}

.col-md-8,
.col-md-4 {
  padding: 0 5px; /* Add padding to columns to handle Bootstrap grid gutters */
}

.cart {
  position: sticky; /* Set position to sticky */
  top: 20px; /* Adjust top position as needed */
}